/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
 body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }

 .container {
    flex: 1;
 }
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    font-size: 2rem;
    color: #fe424d;
}

.nav-link {
    color: #222222;
}

/* Fotter */

.f-info-links a{
    text-decoration: none;
    color: #222222
    
}

.f-info-links a:hover{
    text-decoration: underline;
    color: #222222
}


.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-links {
    gap: 0.5rem;
}

.f-info-socials i {
    margin-right: 1.5rem;
    font-size: 1.2rem;
}
.f-info {
    display: flex;
    justify-content: center;
    height: 6rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
}


/* .card */ 

.listing-card {
    border: none;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0;
}

.card-text p{
    font-weight: 400;
    
}

.listing-link {
    text-decoration: none !important;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn {
    background-color: #fe424d;
    border: none;
}

/* Edit page */
.edit-btn {
    background-color: #fe424d;
    border: none;
}


/* show page */

.show-img {
    height: 28vh !important;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}